*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background: url('./assets/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
main{
    padding: 1% 10% 0 10%;
}
.heading{
    color: white;
    border-bottom: 1px solid white;
    width: max-content;
    margin: 0 auto 10px auto;
}
.top-section{
    display: flex;
    color: white;
    margin-bottom: 15px;
    justify-content:space-evenly;
}
.center-today-info{
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;
}
#today-icon{
    height: 8em;
    filter: invert(1);
}

.temperatureContainer{
    display: flex;
    font-size: 3rem;
    justify-content: center;
}
.temperatureContainer img{
    width: 1em;
    filter: invert(1);
}
#today-description{
    font-style: italic;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

#cityInput{
    position: relative;
    left: 12px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    height: 25px;
}
#cityInput::placeholder{
    color: white;
}
#cityInput:focus, #cityInput:active {
    background: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

#searchForm{
    background-color: transparent;
    border: none;
    filter: invert(1);
    cursor: pointer;
}

#searchForm #searchIcon{
    height: 17px;
    font-size: 17px;
    position: relative;
    top: 5px;
    right: 15px;
    cursor: pointer;
}
/* Left and Right section of the today weather section */
.top-left-section, .top-right-section{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    /* Weird: pixels wont overflow data on shrink but percentage does?? */
    width: 150px;
}
.top-left-section{
    text-align: center;
}
.topRightItemContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    align-items: center;
}
.todayWeatherItemImage{
    filter: invert(1);
    height: 3rem;
}
.todayInfoLabel{
    font-size: .3em;
}
.dataInfoAndUnit{
    display: flex;
    font-size: 2em;
    align-items: center;
}
/* Carousel */
.forecast-carousel{
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 200px;
}

.carousel-image{
    height: 100%;
    width: 100%;
    /* Very useful for dynamic covering with images */
    /* object-fit: cover; */
    filter: invert(1);
}

.carousel-track-container{
    position: relative;
    border: 2px yellow solid;
    height: 100%;
}

.carousel-track{
    list-style: none;
}
.carousel-slide{
    position: absolute;
    top: 0;
    bottom: 0; 
    width: 100%;
}
.carousel-button{
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background-color: transparent;
    filter: invert(1);
    cursor: pointer;
}

.carousel-button--left{
    left: -40px;
}

.carousel-button--right{
    right: -40px;
}

.carousel-button img {
    width: 35px;
}
.carousel-nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel-indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(255,255,255, .4);
    margin: 0 12px;
}

.carousel-indicator.current-slide{
    background: rgba(255,255,255, .9);
}