*{
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background: url('./assets/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
main{
    padding: 6% 6% 0 6%;
}
.top-section{
    display: flex;
}
.center-today-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;   
    margin: auto;
    text-align: center;
}
#today-icon{
    height: 5em;
    filter: invert(1);
}

.temperatureContainer{
    display: flex;
    font-size: 3rem;
    justify-content: center;
}
.temperatureContainer img{
    width: 1em;
    filter: invert(1);
}
/* Left section of the today weather section */
.top-left-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.top-right-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.top-right-section .todayWeatherItemContainer{
    justify-content: space-evenly;
}
.itemInfo{
    padding-left: .3em;
}
.todayWeatherItemContainer{
    display: flex;
    align-items: center;
}

.todayWeatherItemImage{
    filter: invert(1);
    height: 3rem;
}
.todayInfoLabel{
    font-size: .3em;
}
.dataInfoAndUnit{
    display: flex;
    font-size: 2em;
}